.workspace .markdown-preview-view{
    padding-top: 23px;
}

/* > Header Tweaks */
.HyperMD-header{
    padding-top: 1.2em !important;
}
h1, h2, h3, h4, h5, h6{
    padding-top: 1.2em !important;
    margin: 0 !important;
    position:relative;
}
/* h1::before{
    content:"h1";
    position:absolute;
    font-size:12px; 
    bottom: 2.3em;
    left: -20px;
    color: var(--red);
} */
h1::before, h2::before, h3::before, h4::before, h5::before, h6::before{
    content: "#";
    color: var(--red);
}

.cm-formatting-header{
    color: var(--red) !important;
    filter: saturate(0.8);
}

/* > Block/Line Tweaks */

p > * {
    padding-bottom: 0.3em !important;
    padding-top: 0.3em !important;
}
br{
    line-height: 40px;
    height: 40px;
    padding-bottom: 0.3em !important;
    padding-top: 0.3em !important;
}


/* > Adding Padding Every after Indent */
.mod-cm6 .cm-editor .cm-line[style*="text-indent"] + div.cm-line:not([style*="text-indent"]):not(.HyperMD-quote){
    padding-top: 0.8em;
}

/* > H1 */
h1, .markdown-rendered h1, .HyperMD-header-1, .HyperMD-list-line .cm-header-1{
    font-family: 'Roboto Slab', serif !important;
}

/* > Indentation MARKINGS */
/* SOURCE CODE */
/* .markdown-source-view.mod-cm6 .cm-indent::before{
    margin-left: 2px;
    width: 4px;
    background-color: var(--indentation-guide);
    opacity: 0.4;
    border:none;
    transition: top 200ms, bottom 200ms;
    top: 0.2em;
    bottom: 0.2em;
}
.markdown-source-view.mod-cm6 .cm-indent.cm-active-indent::before{
    margin-left: 6px;
    width: 4px;
    background-color: var(--indentation-guide);
    opacity: 1;
    border:none;
    top: 0;
    bottom: 0;
} */

/*  */
.markdown-rendered.show-indentation-guide li.task-list-item>ol::before,
.markdown-rendered.show-indentation-guide li.task-list-item>ul::before,
.markdown-rendered.show-indentation-guide li>ol::before,
.markdown-rendered.show-indentation-guide li>ul::before {
    margin-left: -4px;
}

/* > LISTS */
.markdown-source-view.mod-cm6 .cm-formatting-list-ul, .markdown-source-view.mod-cm6 .cm-formatting-list-ol{
    margin-left: -4px;
    margin-right: 8px;
}

/* > FORMATTINGS */
.cm-formatting-em{
    opacity: 0.3;
}
.cm-formatting-strong{
    opacity: 0.3;
}

/* > BLOCKQUOTE */
/* First BlockQuote */
*:not(.markdown-source-view.mod-cm6 .HyperMD-quote) + .HyperMD-quote{
    padding-top:0.5em;
}
.cm-contentContainer > .cm-content > .HyperMD-quote{
    padding-left: 1em;
}

/* > Horizontal Line */

.HyperMD-hr.HyperMD-hr-bg.cm-line > span{
    opacity: 0.3;
    font-weight: bold;
}
.HyperMD-hr.HyperMD-hr-bg.cm-line::after{
    height: 0px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.068);
    display:block;
    content:" ";
    position:absolute;
    pointer-events: none;
    top: 50%;
}
.HyperMD-hr.HyperMD-hr-bg.cm-line::before{
    height: 2px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.068);
    display:block;
    content:" ";
    position:absolute;
    pointer-events: none;
    bottom: 50%;
}

/* > LINKS */

.cm-link{
    color: rgb(94, 43, 235) ;
}
/* The Underline */
.cm-formatting-link-string + .cm-url{
    border-bottom: solid 2px hsla( var(--accent-h), var(--accent-s), var(--accent-l) , 0.4);
}

.cm-formatting-link-string + .cm-url:hover{
    border-bottom: solid 2px hsla( var(--accent-h), var(--accent-s), var(--accent-l) , 0.6);
}

/* > TASKLIST */
.cm-formatting.cm-formatting-task{
    font-family: var(--font-monospace) !important;
    font-size: 0.9em !important;
}

/* > CODE BLOCK */
.markdown-source-view.mod-cm6 .cm-content>.HyperMD-codeblock-begin-bg{
    margin-top: 16px !important;
    padding-top: 16px;
}

.markdown-source-view.mod-cm6 .cm-content>.HyperMD-codeblock-end-bg {
    margin-bottom: 16px !important;
}


.cm-formatting-highlight{
    /* color: rgba(0, 0, 0, 0.2) !important; */
    opacity: 0.3;
    font-weight: bold;
    border-radius: 4px 0 0 4px;
    background: none !important;
}
.cm-highlight + .cm-highlight:not(.cm-formatting-highlight){
    border-radius: 4px;
}

/* > IMAGES */
/* impossible to do */

/* TODO: Subscripts */
/* TODO: Superscripts */
