

/* > LEFT RIBBON */

/* WORKSPACE MIDDLE */

.workspace-split.mod-vertical.mod-root {
    /* border-radius:10px 10px 0 0; */
    overflow: hidden;
    background-color: rgb(24, 24, 24) !important;
}

.view-header,
.workspace-leaf-header,
.workspace-leaf.mod-active .view-header,
.workspace-split.mod-root
    > .workspace-leaf:first-of-type:last-of-type
    .view-header {
    background-color: rgb(24, 24, 24) !important;
}
.view-actions {
    background-color: unset;
}

.cm-editor {
    background-color: rgb(24, 24, 24) !important;
}

.workspace-split.mod-vertical.mod-root .view-content {
    background-color: unset !important;
}

/* BLANK PAGE */
.empty-state {
    background-color: unset;
}


/* enlarges H1 */
.HyperMD-header-1 {
    font-size: 2em !important;
}