.workspace {
    background-color: rgb(10, 10, 10) !important;
}

/* > LEFT RIBBON */
/* Darken the ribbon */
.workspace-ribbon.side-dock-ribbon.mod-left {
    background-color: rgb(10, 10, 10) !important;
    border: none;
}

/* LEFT RIBBON EXPANDED */
/* Left Ribbon Expanded*/
.workspace-split > .workspace-tabs {
    background-color: rgb(16, 16, 16) !important;
}
.workspace-split.mod-horizontal {
    /* border-radius: 10px 15px 0 0; */
    overflow: hidden;
    /* padding-right: 4px;
    padding-left: 4px; */
}

/* Left Ribbon Expanded Top Section */
.workspace-split .workspace-tab-header-container {
    /* align-items: flex-end; */
}
/* Left Ribbon Expanded Top Section Active Button */
.workspace-split .workspace-tab-header-container .is-active {
    /* padding-bottom: 8px; */
}

/* Left Ribbon Expanded Top Section Active Button */
.workspace-split .workspace-tab-header-container .is-active > div::after {
    /* border-bottom: solid white 1px; */
    width: 26px;
    /* margin-left: 3px; */
    position: absolute;
    top: 33px;
    height: 5px;
    background-color: rgba(255, 255, 255, 0.158);
    border-radius: 100px;
    content: "";
}

/* Left Ribbon Expanded Bottom Section */
/* .workspace-split .workspace-leaf{
    background-color: rgb(16, 16, 16) !important;
    border-radius: 0px 0px 0 0 !important;
} */

/* Set Right Tab too */
.workspace-split.mod-right-split .view-content {
    background-color: rgb(16, 16, 16) !important;
}

/* Left RIbbon Expanded Horizontal Divider Tweak*/
.workspace-sidedock-empty-state
    + .workspace-tabs
    .workspace-tab-header-container {
    border: none;
}
/* Left RIbbon Expanded Horizontal Divider Tweak*/
.workspace-split.mod-horizontal > * > .workspace-leaf-resize-handle {
    border-bottom-color: rgba(255, 255, 255, 0.055);
}
/* Left Ribbon Expanded Vertical Border Tweak */
.workspace-split.mod-left-split > .workspace-leaf-resize-handle,
.workspace-split.mod-vertical > * > .workspace-leaf-resize-handle {
    border-right-color: transparent;
}
.workspace-split.mod-right-split > .workspace-leaf-resize-handle {
    border-left-color: transparent;
}

/* Tweak for gradient */
.body:not(.is-translucent):not(.is-mobile) .mod-left-split .backlink-pane,
body:not(.is-translucent):not(.is-mobile) .mod-left-split .item-list,
body:not(.is-translucent):not(.is-mobile) .mod-left-split .nav-files-container,
body:not(.is-translucent):not(.is-mobile) .mod-left-split .outgoing-link-pane,
body:not(.is-translucent):not(.is-mobile) .mod-left-split .tag-container,
body:not(.is-translucent):not(.is-mobile)
    .mod-left-split
    .workspace-leaf-content[data-type="search"]
    .search-result-container,
body:not(.is-mobile) .mod-right-split .backlink-pane,
body:not(.is-mobile) .mod-right-split .item-list,
body:not(.is-mobile) .mod-right-split .nav-files-container,
body:not(.is-mobile) .mod-right-split .outgoing-link-pane,
body:not(.is-mobile) .mod-right-split .tag-container,
body:not(.is-mobile)
    .mod-right-split
    .workspace-leaf-content[data-type="search"]
    .search-result-container {
    background: none;
}
/* File Explorer */
.workspace-leaf-content[data-type="file-explorer"] > .nav-header {
    order: 2;
}
/* Tweak Collapse Icon */
.tree-item-icon.collapse-icon {
    display: unset !important;
}
.backlink-pane > .tree-item-self,
.backlink-pane > .tree-item-self:hover,
.outgoing-link-pane > .tree-item-self,
.outgoing-link-pane > .tree-item-self {
    padding-left: 24px;
}
.backlink-pane {
}
/* WORKSPACE MIDDLE */

.workspace-split.mod-vertical.mod-root {
    /* border-radius:10px 10px 0 0; */
    overflow: hidden;
    background-color: rgb(24, 24, 24) !important;
}

.view-header,
.workspace-leaf-header,
.workspace-leaf.mod-active .view-header,
.workspace-split.mod-root
    > .workspace-leaf:first-of-type:last-of-type
    .view-header {
    background-color: rgb(24, 24, 24) !important;
}
.view-actions {
    background-color: unset;
}

.cm-editor {
    background-color: rgb(24, 24, 24) !important;
}

.workspace-split.mod-vertical.mod-root .view-content {
    background-color: unset !important;
}

/* BLANK PAGE */
.empty-state {
    background-color: unset;
}


/* enlarges H1 */
.HyperMD-header-1 {
    font-size: 2em !important;
}