/* > GLOBAL VARIABLES */
:root *{
    /* Adds Blue Hue */
    --base-h: 210; 

    /* A bit more saturation Blue Hue */
    --base-s: 20%; 

    /* ACCENTS: links etc */
    --accent-s: 50%;

    --border-width-alt: 4px;

}

/* > THEME VARIABLES */
.excalidraw.theme--dark, .theme-dark, .theme-dark.minimal-default-dark, .theme-light.minimal-light-contrast .mod-left-split, .theme-light.minimal-light-contrast .titlebar, .theme-light.minimal-light-contrast .workspace-fake-target-overlay.is-in-sidebar, .theme-light.minimal-light-contrast .workspace-ribbon.mod-left:not(.is-collapsed), .theme-light.minimal-light-contrast.is-mobile .workspace-drawer.mod-left, .theme-light.minimal-light-contrast.minimal-status-off .status-bar{
    /*  */
    --bg1: hsl( 
        var(--base-h), 
        var(--base-s), 
        var(--base-l) );

    /*  */
    --bg2: hsl( 
        var(--base-h), 
        calc(var(--base-s) + 30%), 
        calc(var(--base-l) - 6%) );   /* Darker Secondary Color */

    /*  */
    --bg3: hsla( 
        var(--base-h), 
        var(--base-s), 
        calc(var(--base-l) + 40%), 
        0.12 );

    --background-divider: var(--bg2);
}

/* > Divider Colors */
.workspace-split.mod-horizontal>*>.workspace-leaf-resize-handle:hover, .workspace-split.mod-left-split>.workspace-leaf-resize-handle:hover, .workspace-split.mod-right-split>.workspace-leaf-resize-handle:hover, .workspace-split.mod-vertical>*>.workspace-leaf-resize-handle:hover{
    /* width: --border-width-alt; */
    border-width: var(--border-width-alt);
    border-color: hsla( var(--accent-h), var(--accent-s), var(--accent-l) , 0.6);
}