/* > Change Titlebar to no border */
.titlebar {
    /* background-color: hsl(232, 100%, 2%)  !important; */
    border-bottom: none !important;
}

/* > Fixes some stuff */
.titlebar-button {
    display: flex;
    align-items: center;
}